/*font-family: 'Share Tech Mono', monospace;*/

.main { width: 60%; padding: 10%; }
.main h2 { font-family: 'Share Tech Mono', monospace; color: white; f}

body{ background-image: url("https://wallpaperaccess.com/full/1101225.jpg"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }
p { font-family: 'Share Tech Mono', monospace; color: white; }